 <div class="row">
   <div class="col-md-8">
     <div class="media">

       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <h2 class="media-heading"><%= @user.email %></h2>
       </div>
     </div>
   </div>
 </div>

<ul>
  <% @user.items.each do |i| %>
    <li><%= i.name %></li>
  <% end %>
</ul>

<%= render "items/form.html.erb" %>